.enca{
    height: 60vh;
    background-image: url(./imm.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    /* background-attachment: fixed; */
}
.bg{
    height: 60vh;
    background-color: rgba(78, 78, 78, .6);
}
.cuadro{
    border-radius: 10px;
}
.fondo{
    background-image: url(./impresora-en-3d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.titulo{
    width: 100vh;
}
.bg-whap{
    background-color: green;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    /* text-align: center; */
}
.btn-whap{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:900px) {
    .titulo{
        width: 40vh !important;
    }
}